
.p-dialog .p-dialog-header{
    padding: 1rem 1.5rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.12)
}

.p-dialog .p-dialog-content{
    padding:1rem 1rem 1rem 1rem;
}

.p-dialog .p-dialog-footer{
    padding:0.5rem 1rem;
    border-top:1px solid rgba(0, 0, 0, 0.12)
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
    background-color: #e9ecef !important;
}