.MuiDataGrid-columnHeaderTitleContainerContent {
  .MuiDataGrid-columnHeaderTitle {
    font-weight: 500;
    font-size: 16px;
  }
  
}

.MuiDataGrid-columnHeadersInner{
.MuiDataGrid-columnHeader {
    &:focus {
  outline: solid #1976d2 0px !important;
    }
  }
    .MuiDataGrid-columnHeader:focus-within{
  outline: solid #1976d2 0px !important;
    }
}

.MuiDataGrid-row{
.MuiDataGrid-cell:focus {
  outline: solid #1976d2 0px !important;
  }
}
.MuiDataGrid-root .MuiDataGrid-cell:focus-within{
  outline: solid #1976d2 0px !important;
}

.action {
  visibility: hidden;
}