.MuiDataGrid-columnHeaderTitleContainerContent {
  .MuiDataGrid-columnHeaderTitle {
    font-weight: 700;
    font-size: 16px;
  }
  
}

.MuiDataGrid-columnHeadersInner{
.MuiDataGrid-columnHeader {
    &:focus {
      outline: solid #1976d2 0px;
    }
  }
    .MuiDataGrid-columnHeader:focus-within{
      outline: solid #1976d2 0px;
    }
}

.MuiDataGrid-row{
.MuiDataGrid-cell:focus {
    outline: solid #1976d2 0px;
  }
}
.MuiDataGrid-root .MuiDataGrid-cell:focus-within{
  outline: solid #1976d2 0px;
}